name: Run tests on Pull Request
on: [pull_request]
jobs:
  run-tests-on-py37:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out repo code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Install Poetry
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
          poetry --version
          poetry env info
      - name: Install dependencies
        run: poetry install -vv
      - name: Run Tests
        run: ./run_tests.sh
      - name: Update coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          flags: unittests # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true
          verbose: true